@charset "utf-8";


.main_visual{max-width:1740px; margin:0 auto; height:540px;transition : width 0.3s ease;  -webkit-transition : width 0.3s ease; position:relative }
.main_visual .js_slide.type_03 .control a.btn_left,
.main_visual .js_slide.type_03 .control a.btn_right{display:none;}
.main_visual .js_slide.type_03 { height:100%; }
.main_visual .js_slide.type_03 .move ul li {background-size:cover;background-repeat:no-repeat;background-position: center center;}
.main_visual .js_slide.type_03 .move ul li:nth-child(1){background-image: url(../../../images/site/graduate/layout/visual1.jpg);}
.main_visual .js_slide.type_03 .move ul li:nth-child(2){background-image: url(../../../images/site/graduate/layout/visual2.jpg);}
.main_visual .js_slide.type_03 .move ul li:nth-child(3){background-image: url(../../../images/site/graduate/layout/visual3.jpg);}
.main_visual .js_slide.type_03 .slogan {position: absolute; top:130px; left:20px;  transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; z-index:10}
.main_visual .js_slide.type_03 .slogan p{ margin:12px 0}
.main_visual .js_slide.type_03 .slogan img{ max-width:100%}

.main_visual .js_slide.type_03 .control { width:100px; height:15px; top:320px !important; left:25px !important; text-align:left;}
.main_visual .js_slide.type_03 .control ul{overflow: hidden; display:inline-block; position: relative; left:auto; right:auto; width:auto; bottom:auto;}
.main_visual .js_slide.type_03 .control ul li{float:left; position: relative; margin-right:10px;}
.main_visual .js_slide.type_03 .control ul li:first-child{margin-left:0;}
.main_visual .js_slide.type_03 .control ul li:last-child{margin-right:5px;}
.main_visual .js_slide.type_03 .control ul li a {width:15px; height:15px; box-sizing: border-box; background-color:transparent; border:2px solid #fff; border-radius:50%;-webkit-border-radius:50%;}
.main_visual .js_slide.type_03 .control ul li a.on{background:#fff;}
.main_visual .js_slide.type_03 .control a.btn_play, 
.main_visual .js_slide.type_03 .control a.btn_stop {display:inline-block; vertical-align:top; width:15px; height:15px; border:0;position: relative; right:auto; bottom:auto; }
.main_visual .js_slide.type_03 .control a.btn_play span, 
.main_visual .js_slide.type_03 .control a.btn_stop span{font-size:0;}
.main_visual .js_slide.type_03 .control a.btn_play{background:url(../../../images/site/graduate/layout/visual_play.png)no-repeat center center;}
.main_visual .js_slide.type_03 .control a.btn_stop{background:url(../../../images/site/graduate/layout/visual_stop.png)no-repeat center center;}


.sec_title{ font-size:50px; font-weight:500; display:block; color:#010101; line-height:40px; margin:0 0 30px 0}
.sec_title span{color:#0d4e98; font-size:60px}
.sec_01{ position:relative;max-width:1180px; margin:80px auto; padding:0 15px}
.sec_01 .news{margin:0 400px 0 0; position:relative; top:-10px}
.sec_01 .news .more_btn{display:block; position: absolute; right:0; top:30px;z-index:20; width:22px; height:22px; text-indent:-9999px;}
.sec_01 .news .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/graduate/layout/btn_more_type1.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.sec_01 .news .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.sec_01 .news:after{ display:block; clear:both; content:""}
.sec_01 .news ul{ margin:0 -10px 0 -10px}
.sec_01 .news ul li{ box-sizing:border-box; padding:0 10px; width:50%; float:left; }
.sec_01 .news ul li a{ display:block; border:2px solid #e8e8e8; position:relative; padding:30px 30px 40px 30px; text-decoration:none; font-size:16px; box-sizing:border-box; background:#fff;}
.sec_01 .news ul li a em{ font-style:normal; color:#0c4e97; font-size:17px}
.sec_01 .news ul li a p{ margin:23px 0 30px 0; font-size:19px; line-height:1.3; color:#232323; height:49px; overflow:hidden}
.sec_01 .news ul li a .date{ color:#959595}
.sec_01 .news ul li a .more_btn{display:block; position: absolute; right:0; margin:0 -2px -2px 0; bottom:0;z-index:20; width:35px; height:35px; text-indent:-9999px; background:#133865; top:auto}
.sec_01 .news ul li a .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/graduate/layout/btn_more_type2.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.sec_01 .news ul li a:hover .more_btn:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.sec_01 .news ul li a:hover{ background:#062d5d ; border:2px solid #062d5d;}
.sec_01 .news ul li a:hover em, .sec_01 .news ul li a:hover p, .sec_01 .news ul li a:hover .date{ color:#fff}
.news ul li a:hover .date{ opacity:0.5}
.sec_01 .news ul li a:hover .more_btn{ background:#90724a}
.sec_01 .popup_area{position: absolute; right:15px; top:0; width:360px; height:285px; background:#fff;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.sec_01 .popup_area .tits{display:block; padding:22px 20px;  font-size:19px; color:#21262b; font-weight:500; }
.sec_01 .popup_area .js_slide.type_02 { width:100%; height:100%; }
.sec_01 .popup_area .js_slide.type_02 .control{right:0 !important; top:auto !important; bottom:0px !important; height:57px; line-height:57px; padding:0 20px !important; background-color:#343434; text-align:right; box-sizing: border-box; }
.sec_01 .popup_area .js_slide.type_02 .control a{margin-left:5px; width: 14px; height: 17px; background-color: transparent; background-repeat: no-repeat; background-position: center center; border: 0; text-align: left;}
.sec_01 .popup_area .js_slide.type_02 .control .tit{ position: absolute; top: 0; left: 20px; font-size: 17px; font-weight:500; color: #fff;}
.sec_01 .popup_area .js_slide.type_02 .control a.btn_left{background-image: url(../../../images/site/graduate/layout/pop_left.png);}
.sec_01 .popup_area .js_slide.type_02 .control a.btn_right{background-image: url(../../../images/site/graduate/layout/pop_right.png);}
.sec_01 .popup_area .js_slide.type_02 .control a.btn_play{background-image: url(../../../images/site/graduate/layout/btn_play.png);}
.sec_01 .popup_area .js_slide.type_02 .control a.btn_stop{background-image: url(../../../images/site/graduate/layout/pop_stop.png);}
.sec_01 .popup_area .js_slide.type_02 .control a.btn_plus{background-image: url(../../../images/site/graduate/layout/pop_plus.png);}
.sec_01 .popup_area .js_slide.type_02 .control a span{font-size:0;}
.sec_01 .popup_area .js_slide.type_02 .move{height:235px;transition : height 0.3s ease;  -webkit-transition : height 0.3s ease;}
.sec_01 .popup_area .js_slide.type_02 .move ul li a{ border:0; background:#fff; text-align:center}

.sec_02{ background:#f1f1f1; position:relative;padding:150px 0 180px}
.sec_02:after{ content:""; display:block; width:100%; height:100%  ;background:url(../../../images/site/graduate/layout/section_bg01.png) no-repeat; position:absolute; top:70px; left:0;  }
.sec_02 .layout{ height:450px; z-index:2}
.sec_02 .bnr{ margin:0 520px 0 0; position:relative; z-index:2}
.sec_02 .bnr ul{ margin: 0 -10px}
.sec_02 .bnr ul li{ float:left; width:33.333%; padding:10px 10px; box-sizing:border-box }
.sec_02 .bnr ul li a{ background:#fff; display:block; text-align:center; padding:145px 0 38px 0; font-size:19px; text-decoration:none; position:relative; transition:all 0.3s ease-in; box-shadow: 3px 3px 15px 0px #dedede;}
.sec_02 .bnr ul li a:hover{ background:#977649; color:#fff}
.sec_02 .bnr ul li a:after{ content:""; display:block; width:100%; height:100%; position:absolute; top:0; left:0 }
.sec_02 .bnr ul li:first-child a:after{ background:url(../../../images/site/graduate/layout/banner_ico01.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(2) a:after{ background:url(../../../images/site/graduate/layout/banner_ico02.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(3) a:after{ background:url(../../../images/site/graduate/layout/banner_ico03.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(4) a:after{ background:url(../../../images/site/graduate/layout/banner_ico04.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(5) a:after{ background:url(../../../images/site/graduate/layout/banner_ico05.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(6) a:after{ background:url(../../../images/site/graduate/layout/banner_ico06.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:first-child a:hover:after{background:url(../../../images/site/graduate/layout/banner_ico01_on.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(2) a:hover:after{ background:url(../../../images/site/graduate/layout/banner_ico02_on.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(3) a:hover:after{ background:url(../../../images/site/graduate/layout/banner_ico03_on.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(4) a:hover:after{ background:url(../../../images/site/graduate/layout/banner_ico04_on.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(5) a:hover:after{ background:url(../../../images/site/graduate/layout/banner_ico05_on.png) no-repeat center 40%;  }
.sec_02 .bnr ul li:nth-child(6) a:hover:after{ background:url(../../../images/site/graduate/layout/banner_ico06_on.png) no-repeat center 40%;  }

.sec_02 .schedule{ width:450px; position:absolute; right:15px; top:7px; }
.sec_02 .schedule .sec_title:after{ content:""; border-bottom:1px solid #dadada; display:block; margin-left:246px; position:relative; top:-3px}
.sec_02 .schedule ul{ margin:40px 0 40px 0; position:relative}
.sec_02 .schedule ul li{ position:relative; padding:0 0 0 90px; margin:0 0 26px 0}
.sec_02 .schedule ul li span{ display:inline-block; z-index:2;width:72px; height:72px; border-radius:50%; background:#042a59; color:#fff; position:absolute; left:0; top:0; text-align:center; box-sizing:border-box; padding-top:15px; font-size:27px; line-height:1.1}
.sec_02 .schedule ul:after{ content:""; display:block; width:1px; height:100%; background:#7b8ea5; position:absolute; left:37px; top:0; }
.sec_02 .schedule ul li span em{ display:block; font-size:14px; opacity:0.5; font-style:normal}
.sec_02 .schedule ul li:first-child span, .sec_02 .schedule ul li:nth-child(2) span{ background:#0d4e98}
.sec_02 .schedule ul li a.title{ font-size:21px; color:#2d2d2d; padding:14px 0 10px 0; display:block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; text-decoration:none }
.sec_02 .schedule ul li a.title:hover{color:#0d4e98}
.sec_02 .schedule ul li .date{ opacity:0.7; background:url(../../../images/site/graduate/layout/time_ico.png) no-repeat 0 center; padding:0 0 0 18px }
.sec_02 .schedule ul li:last-child{ display:none}
.sec_02 .schedule .more_btn{ display:block; background:#dddddd; text-align:center; padding:13px 0; text-decoration:none; clear:both}
.sec_02 .schedule .more_btn span{display:inline-block; width:14px; height:14px; background: url(../../../images/site/graduate/layout/btn_more_type3.png) no-repeat; transition:all 0.3s ease-in; margin-left:10px}
.sec_02 .schedule .more_btn:hover span{ transform: rotate(180deg); -webkit-transform: rotate(180deg);}

.sec_03{ background:#042a59; position:relative }
.sec_03:after{ display:block; content:""; position: absolute; width:100%; height:100%; background:url(../../../images/site/graduate/layout/department_bg.png) no-repeat right bottom; bottom:0 }
.sec_03 .layout{ top:-80px; background:#042a59; padding:80px 0 0;}
.sec_03 .layout div.sec03_wrap{ padding:50px 30px 0 62%; color:#fff; position:relative; min-height:350px; z-index:3}
.sec_03 .layout .img_area{ display:block; content:""; position:absolute;width:566px; height:349px;left:76px; top:30px; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.sec_03 .layout .img_area ul li{width:100%; height:100%;position: relative;}
.sec_03 .layout .img_area ul li img{width:100%; display:none; position: absolute; left:0;top:0;}
.sec_03 .layout .img_area ul li:first-child img{display:block;}
.sec_03 .layout:after{ content:""; display:block; width:100%; height:100%; background: url(../../../images/site/graduate/layout/section_bg02.png) no-repeat right 0; position:absolute; top:0; z-index:2}
.sec_03 .layout div.sec03_wrap strong{ display:block; text-align:center; font-size:35px; font-weight:400; padding:40px 0 90px 0}
.sec_03 .layout div.sec03_wrap ul.txt_list li{float:left; box-sizing:border-box; width:50%; padding:0 12px}
.sec_03 .layout div.sec03_wrap ul.txt_list li a{ color:#fff; display:block; border-bottom:1px solid rgba(255, 255, 255, 0.3); padding:16px 0 ; text-decoration:none;  transition:all 0.3s ease-in; opacity:0.6;background: url(../../../images/site/graduate/layout/dre_ico.png) no-repeat 99% center; }
.sec_03 .layout div.sec03_wrap ul.txt_list li a:hover{ opacity:1;border-bottom:1px solid rgba(255, 255, 255, 1);}

@media screen and (max-width: 1180px){
.sec_03 .layout div.sec03_wrap ul.txt_list li a:hover:after{ left:15px}
.sec_03 .layout{ margin-right:20px}
.sec_03 .layout .img_area{left:15px;}
}

@media screen and (max-width: 1024px){
.main_visual { height:440px}
.sec_title{ font-size:36px;}
.sec_title span{font-size:48px}

.sec_01{ margin:50px auto}
.sec_01 .news ul li{ width:100%; float:none}
.sec_01 .news ul li:last-child{ display:none}

.sec_02 { padding:54px 0 140px }
.sec_02:after{ background-size:60% auto }
.sec_02 .layout{ height:auto}
.sec_02 .bnr{ margin:0 0 30px 0}
.sec_02 .bnr:after{ display:block; clear:both; content:""}
.sec_02 .bnr ul{ margin:0 -6px}
.sec_02 .bnr ul li{ width:16.666%; padding:6px}
.sec_02 .bnr ul li a{ padding:95px 0 25px 0; font-size:16px }
.sec_02 .bnr ul li:first-child a:after,
.sec_02 .bnr ul li:nth-child(2) a:after,
.sec_02 .bnr ul li:nth-child(3) a:after,
.sec_02 .bnr ul li:nth-child(4) a:after,
.sec_02 .bnr ul li:nth-child(5) a:after,
.sec_02 .bnr ul li:nth-child(6) a:after,
.sec_02 .bnr ul li:first-child a:hover:after,
.sec_02 .bnr ul li:nth-child(2) a:hover:after,
.sec_02 .bnr ul li:nth-child(3) a:hover:after,
.sec_02 .bnr ul li:nth-child(4) a:hover:after,
.sec_02 .bnr ul li:nth-child(5) a:hover:after,
.sec_02 .bnr ul li:nth-child(6) a:hover:after{ background-size:60px auto; background-position:center 35%}
.sec_02 .schedule{ position:static; top:auto; right:auto; width:100%}
.sec_02 .schedule ul:after{ display:block; clear:both; content:""}
.sec_02 .schedule ul{ margin:0}
.sec_02 .schedule ul li a.title{ font-size:17px}
.sec_02 .schedule ul li{float:left; width:50% ; box-sizing:border-box;  padding-right:10px}
.sec_02 .schedule ul li:last-child{ display:block}
.sec_02 .schedule .sec_title:after { margin-left:186px}

.sec_03:after{ background-size:50% auto;}
.sec_03 .layout{ padding-top:60px}
.sec_03 .layout:after{ background-size:40% auto}
.sec_03 .layout div.sec03_wrap{ padding-left:56%; padding-top:0; min-height:auto}
.sec_03 .layout div.sec03_wrap strong{ padding:30px 0 50px 0}
.sec_03 .layout div.sec03_wrap:after{ width:50%;  }
.sec_03 .layout div.sec03_wrap ul.txt_list:after{ display:block; clear:both; content:""}
.sec_03 .layout div.sec03_wrap ul.txt_list li a:hover:after{width:50%;}
.sec_03 .layout .img_area{width:50%;}
}


@media screen and (max-width: 740px){
.main_visual { height:310px}
.main_visual .js_slide.type_03 .control{ top:220px !important}
.main_visual .js_slide.type_03 .slogan{ top:60px}
.main_visual .js_slide.type_03 .slogan img{ max-width:80%}


.sec_title span{font-size:36px}
.sec_title{ margin:0 0 15px 0; font-size:28px;}
.sec_01 { margin:40px 0}
.sec_01 .news{ margin:0 0 17px 0}
.sec_01 .news ul{ margin:0 -4px}
.sec_01 .news ul li{ width:50%; float:left; padding:0 4px }
.sec_01 .news ul li:last-child{ display:block}
.sec_01 .news ul li a{ padding:15px 15px 25px}
.sec_01 .news ul li a em{ font-size:14px}
.sec_01 .news ul li a p{  font-size:16px; margin:16px 0 25px 0}
.sec_01 .news .more_btn:after { top:-10px}
.sec_01 .popup_area{ position:static; top:0; right:0; width:100%; height:255px}
.sec_01 .popup_area .js_slide.type_02 .move{ height:206px}

.sec_02 { padding:34px 0 100px}
.sec_02 .bnr ul li{ width:33.333%}
.sec_02 .schedule ul li{ width:100%; float:none}
.sec_02 .schedule ul li:nth-child(2) span{ background:#042a59}
.sec_02 .schedule ul li:nth-child(3), .sec_02 .schedule ul li:nth-child(4){ display:none}
.sec_02 .schedule .sec_title:after { margin-left:145px; top:-10px}


.sec_03 .layout div.sec03_wrap ul li a:hover:after{ display:none}
.sec_03 .layout{ margin-right:20px; top:-50px}
.sec_03 .layout div.sec03_wrap{ padding:0 15px}
.sec_03 .layout div.sec03_wrap strong{ font-size:24px; padding:0 0 20px 0}
.sec_03 .layout .img_area{display:none;}
}

@media screen and (max-width: 540px){
.main_visual { height:270px}
.main_visual .js_slide.type_03 .control{ top:190px !important}
.sec_01 .popup_area{ height:245px}
.sec_01 .popup_area .js_slide.type_02 .move{ height:196px}
.sec_01 .news ul li{ width:100%; float:none; padding:0; margin-bottom:6px }
.sec_01 .news ul li a p{ height:auto;}

.sec_02 .bnr ul{ margin: -4px}
.sec_02 .bnr ul li{ padding: 4px}
.sec_02 .bnr ul li a{ padding:85px 0 20px 0; font-size:15px; letter-spacing:-1px }
.sec_02 .bnr ul li:first-child a:after,
.sec_02 .bnr ul li:nth-child(2) a:after,
.sec_02 .bnr ul li:nth-child(3) a:after,
.sec_02 .bnr ul li:nth-child(4) a:after,
.sec_02 .bnr ul li:nth-child(5) a:after,
.sec_02 .bnr ul li:nth-child(6) a:after,
.sec_02 .bnr ul li:first-child a:hover:after,
.sec_02 .bnr ul li:nth-child(2) a:hover:after,
.sec_02 .bnr ul li:nth-child(3) a:hover:after,
.sec_02 .bnr ul li:nth-child(4) a:hover:after,
.sec_02 .bnr ul li:nth-child(5) a:hover:after,
.sec_02 .bnr ul li:nth-child(6) a:hover:after{ background-size:50px auto; background-position:center 30%}
}

