@charset "utf-8";

#main #content{ margin-top:-130px}
.visual_wrap{ height:837px; position:relative;}

.main_visual{margin:0 auto; height:100%; transition : width 0.3s ease;  -webkit-transition : width 0.3s ease; position:relative }
.main_visual .js_slide.type_03 .control a.btn_left,
.main_visual .js_slide.type_03 .control a.btn_right{display:none;}
.main_visual .js_slide.type_03 { height:100%; }
.main_visual .js_slide.type_03 .move ul li {background-size:cover;background-repeat:no-repeat;background-position: center center;}
.main_visual .js_slide.type_03 .move ul li:nth-child(1){background-image: url(../../../images/site/insa/layout/visual1.jpg);}
.main_visual .js_slide.type_03 .move ul li:nth-child(2){background-image: url(../../../images/site/insa/layout/visual2.jpg);}
.main_visual .js_slide.type_03 .move ul li:nth-child(3){background-image: url(../../../images/site/insa/layout/visual3.jpg);}
.main_visual .js_slide.type_03 .slogan {font-family:Nanum Myeongjo;position: absolute; top:270px; font-size:56px; left:20px;  transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; z-index:10; color:#fff; line-height:1.3;
background: url(../../../images/site/insa/layout/quote.png) no-repeat 0 0; padding:30px 0 0 56px}
.main_visual .js_slide.type_03 .slogan  span{ display:block}
.main_visual .js_slide.type_03 .slogan em{ font-style:normal}

.main_visual .js_slide.type_03 .control { width:100px; height:15px; top:500px !important; left:95px !important; text-align:left;}
.main_visual .js_slide.type_03 .control ul{overflow: hidden; display:inline-block; position: relative; left:auto; right:auto; width:auto; bottom:auto;}
.main_visual .js_slide.type_03 .control ul li{float:left; position: relative; margin-right:10px;}
.main_visual .js_slide.type_03 .control ul li:first-child{margin-left:0;}
.main_visual .js_slide.type_03 .control ul li:last-child{margin-right:5px;}
.main_visual .js_slide.type_03 .control ul li a {width:15px; height:15px; box-sizing: border-box; background-color:transparent; border:2px solid #fff; border-radius:50%;-webkit-border-radius:50%;}
.main_visual .js_slide.type_03 .control ul li a.on{background:#fff;}
.main_visual .js_slide.type_03 .control a.btn_play, 
.main_visual .js_slide.type_03 .control a.btn_stop {display:inline-block; vertical-align:top; width:15px; height:15px; border:0;position: relative; right:auto; bottom:auto; }
.main_visual .js_slide.type_03 .control a.btn_play span, 
.main_visual .js_slide.type_03 .control a.btn_stop span{font-size:0;}
.main_visual .js_slide.type_03 .control a.btn_play{background:url(../../../images/site/insa/layout/btn_play.png)no-repeat center center;}
.main_visual .js_slide.type_03 .control a.btn_stop{background:url(../../../images/site/insa/layout/visual_stop.png)no-repeat center center;}



.notice{ position:absolute; height:150px; background:rgba(0,0,0,0.56); width:100%;  bottom:0; left:0; color:#fff; z-index:3}
.notice .layout{ padding:45px 15px 0 210px; box-sizing:border-box}
.notice .layout strong{ font-size:22px; font-weight:500; display:block; position:absolute; left:15px; top:70px}
.notice ul li{ float:left; width:50%; position:relative; padding:7px 60px; box-sizing:border-box}
.notice ul li a{ color:#fff; display:inline-block}
.notice ul li span{ position:absolute; right:0; display:inline-block; opacity:0.5}
.notice .layout .more_btn{display:inline-block; position: absolute; top:-4px; right:-40px;z-index:20; width:30px; height:30px; text-indent:-9999px; border-radius:50%; background:rgba(255,255,255,0.21) }
.notice .layout .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/insa/layout/btn_more_type01.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.notice .layout .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}


.sec_title{ font-family:Nanum Myeongjo; display:block; text-align:center; font-size:53px; font-weight:normal; line-height:1.2; margin:0 0 50px 0; color:#141414}

.sec_01 .sec_title span{ font-weight:600; border-bottom:1px solid #373737}
.sec_01{ background: url(../../../images/site/insa/layout/sec01_bg.jpg) no-repeat right bottom;}
.sec_01 .layout{ padding:70px 15px}
.sec_01 .layout:after{ display:block; clear:both; content:"";}
.sec_01 .layout ul.sub_group{ max-width:70%; margin:0 auto}
.sec_01 .layout ul.sub_group:after{content:""; display:block; clear:both;}
.sec_01 .layout ul.sub_group>li{ float:left; width:33.333%; box-sizing:border-box;  position:relative;}
.sec_01 .layout ul li a{ display:block; line-height:30px; padding-left:10px;position: relative;}
.sec_01 .layout ul li a:before{ display:inline-block; width:4px; height:4px; border-radius:50%; border-radius:50%; background:#cbcbcb; content:""; position:absolute; left:0; top:13px;}
.sec_01 .swiper-scrollbar{display:none;}

.sec_02{ background:#f1f1f1}
.sec_02 .layout{ padding:70px 15px}
.sec_02 .layout:after{ display:block; clear:both; content:""}
.sec_02 .layout ul li{ box-sizing:border-box; float:left; width:50%; padding:0 30px}
.sec_02 .layout ul li a{ display:block}
.sec_02 .layout ul li a img{ width:250px; height:250px; border-radius:50%; float:left;  }
.sec_02 .layout ul li a div{ padding:50px 0 0 280px}
.sec_02 .layout ul li a p{ font-size:19px; color:#121212; min-height:100px; padding:0 0 40px 0; line-height:1.4}
.sec_02 .layout ul li a span{ opacity:0.7}
.sec_02 .layout .more_btn{display:inline-block; position: absolute;z-index:20; width:40px; height:40px; text-indent:-9999px; border-radius:50%; background:rgba(0,0,0,0.1) ; margin:10px 0 0 10px}
.sec_02 .layout .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/insa/layout/btn_more_type2.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.sec_02 .layout .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}

.sec_03 .layout{ padding:70px 15px}
.sec_03 .calendar{ background:#e0e4e8}
.sec_03 .calendar:after{ display:block; clear:both; content:""}
.sec_03 .calendar div{ width:50%; float:left; box-sizing:border-box; position:relative}
.sec_03 .calendar div strong{ display:block; background:#424d59; color:#fff; text-align:center; padding:14px 0; font-weight:400; font-size:17px}
.sec_03 .calendar div p{ background:#f5f6f7; padding:12px 0; font-size:17px}
.sec_03 .calendar div p span{ display:inline-block; text-align:center; box-sizing:border-box}
.sec_03 .calendar div p span.date{ width:30%; border-right:1px solid #d7d7d7 }
.sec_03 .calendar div p span.sca{ width:70%; }
.sec_03 .calendar div.cal_left ul{ border-right:1px solid #d6dce1}
.sec_03 .calendar div.cal_left p{ border-right:1px solid #e1e6e9}
.sec_03 .calendar div ul{ padding:20px 20px 30px 40px}
.sec_03 .calendar div ul li{ padding:4px 0; color:#696969 }
.sec_03 .calendar div ul li span.date{ display:inline-block;color:#242424 ; width:30%; float:left; box-sizing:border-box}
.sec_03 .calendar div ul li span.title{ display:inline-block;white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width:70%; box-sizing:border-box; padding-left:15px}
.sec_03 .layout .more_btn{display:block; position: absolute; top:14px; right:25px;z-index:20; width:17px; height:17px; text-indent:-9999px;}
.sec_03 .layout .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/insa/layout/btn_more_type3.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.sec_03 .layout .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}


.sec_04{background: url(../../../images/site/insa/layout/bnr_pattern.jpg) }
.sec_04 .layout{ padding:70px 15px 90px}
.sec_04 .layout .js_slide .control a.btn_play,
.sec_04 .layout .js_slide .control a.btn_stop{display:none !important;}
.sec_04 .layout .js_slide .control{width:100%; height:100%; }
.sec_04 .layout .js_slide .control a {margin-top:-22px;position: absolute; top:50%; border:0; display:block; width:67px; height:67px; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; background:rgba(0,0,0,0.4); border-radius:50% }
.sec_04 .layout .js_slide .control a.btn_left{left:0;}
.sec_04 .layout .js_slide .control a.btn_right {right:0;}
.sec_04 .layout .js_slide .control a:after{ display:block; content:"";  width:67px; height:67px; position:absolute; top:0; left:0 }
.sec_04 .layout .js_slide .control a.btn_left:after {background:url(../../../images/site/insa/layout/dre_type02.png) no-repeat center center; }
.sec_04 .layout .js_slide .control a.btn_right:after { background:url(../../../images/site/insa/layout/dre_type02.png) no-repeat center center;transform:rotateY(180deg);}
.sec_04 .layout .js_slide .control a:hover{background:rgba(0,0,0,0.5);}

.sec_04 .layout .js_slide { height:274px; padding: 0 80px; box-sizing:border-box}
.sec_04 .layout .js_slide .move{z-index:20;}
.sec_04 .layout .js_slide .move ul { height:auto; padding-top:20px;}
.sec_04 .layout .js_slide .move ul li{position: relative; padding:0; box-sizing: border-box; text-align:center; width:245px}
.sec_04 .layout .js_slide .move ul li a:hover, 
.sec_04 .layout .js_slide .move ul li a:focus { border: 0;text-decoration:none;}
.sec_04 .layout .js_slide .move ul li a{position: relative; top:0; box-shadow: 3px 3px 15px 0px #919191; color:#fff; font-size:20px; width:226px; height:239px; box-sizing:border-box;background-size:100% auto; display:inline-block;border:0; text-decoration:none; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.sec_04 .layout .js_slide .move ul li a span{position: relative; display:block; padding-top:175px; z-index:2}
.sec_04 .layout .js_slide .move ul li.ba1 a{background-image: url(../../../images/site/insa/layout/bnr_img01.jpg);}
.sec_04 .layout .js_slide .move ul li.ba2 a{background-image: url(../../../images/site/insa/layout/bnr_img02.jpg);}
.sec_04 .layout .js_slide .move ul li.ba3 a{background-image: url(../../../images/site/insa/layout/bnr_img03.jpg);}
.sec_04 .layout .js_slide .move ul li.ba4 a{background-image: url(../../../images/site/insa/layout/bnr_img04.jpg);}
.sec_04 .layout .js_slide .move ul li a:hover{ top:-15px}
.sec_04 .layout .js_slide .move ul li a:after{ display:block; content:""; position:absolute; left:0; top:0; background: url(../../../images/site/insa/layout/bnr_hover.png); width:100%; height:100%; opacity:0;transition : all 0.3s ease; }
.sec_04 .layout .js_slide .move ul li a:hover:after{ opacity:1;}

@media screen and (max-width: 1200px){
    .sec_04 .layout .js_slide{height:200px;}
    .sec_04 .layout .js_slide .move ul li a{width:180px; height:190px;}
    .sec_04 .layout .js_slide .move ul li a span {padding-top:137px;}
}

@media screen and (max-width: 1024px){
#main #content{ margin-top:0px}
.visual_wrap{ height:537px;}
.main_visual .js_slide.type_03 .slogan { top:80px; font-size:46px}
.main_visual .js_slide.type_03 .control{ top:280px !important;}

.notice { height:130px}
.notice .layout{ padding:35px 15px 0 210px}
.notice .layout strong{ top:60px}
.notice ul li{ float:none; width:100%}
.notice ul li:nth-child(3),.notice ul li:nth-child(4){ display:none}

.sec_title{ font-size:38px; }

.sec_01 .layout ul.sub_group { max-width:100%; }

.sec_02 .layout ul li a img{ width:173px; height:173px}
.sec_02 .layout ul li a  div{ padding:15px 0 0 200px}
.sec_02 .layout ul li a p{ padding:0 0 30px 0; font-size:18px}
.sec_02 .layout .more_btn{ margin:3px 0 0 10px}

.sec_03 .calendar div ul{ padding:20px 20px 30px 20px}
.sec_04 .layout .js_slide .move ul li a:hover{ top:0;}
.sec_04 .layout .js_slide .move ul li a:hover:after{ opacity:0;}

}
@media screen and (max-width:840px){
    .sec_04 .layout .js_slide{height:170px;padding:0 60px;}
    .sec_04 .layout .js_slide .move ul li a{width:150px; height:159px;}
    .sec_04 .layout .js_slide .move ul li a span {padding-top:107px;}
    .sec_04 .layout .js_slide .control a {width:50px; height:50px;}
    .sec_04 .layout .js_slide .control a:after{width:50px; height:50px;}
}

@media screen and (max-width:767px){
.visual_wrap{ height:437px}

.main_visual .js_slide.type_03 .slogan{ font-size:32px; background-size:auto 30%; padding:30px 0 0 40px; top:36px}
.main_visual .js_slide.type_03 .slogan em{ display:block}
.main_visual .js_slide.type_03 .control{ top:244px !important; left:66px !important}

.notice .layout{padding:35px 15px 0 130px}

.sec_title{ font-size:30px; margin:0 0 30px 0 }
.sec_01 .layout,.sec_02 .layout,.sec_03 .layout,.sec_04 .layout{ padding:40px 15px}

.sec_02 .layout ul li{ padding:0 15px}
.sec_02 .layout ul li a img{ float:none; display:block; margin:0 auto 15px; width:150px; height:150px}
.sec_02 .layout ul li a div{ padding:0; text-align:center}
.sec_02 .layout ul li a p{ min-height:inherit; padding:0 0 10px 0; width:100%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size:16px }
.sec_02 .layout .more_btn{ margin:-3px 0 0 7px}

.sec_03 .calendar div{ width:100%; float:none}
}
@media screen and (max-width:740px){
    .sec_01 .swiper-scrollbar{display:block;background:#fff;}
    .sec_01 .swiper-scrollbar-drag {background:#c5ccd3;}
    .sec_01 .layout ul.sub_group{padding-bottom:20px;}
    .sec_01 .layout ul.sub_group ul {overflow: hidden;}
    .sec_01 .layout ul.sub_group ul li{float:left; width:50%; box-sizing: border-box;}
    .sec_01 .layout ul.sub_group ul li:nth-child(2n+1){padding-right:5px;}
    .contents_list{background:#f0f2f4; padding:20px; box-sizing:border-box;}
    .sec_01 .layout ul li a {line-height:18px;}
    .sec_01 .layout ul li a:before{top:8px;}

}

@media screen and (max-width:540px){
    
.notice .layout{padding:35px 15px 0 0px}
.notice .layout strong{ display:block; width:100%; box-sizing:border-box; top:24px; font-size:17px;  }
.notice .layout .more_btn{ right:30px}
.notice ul{ padding:20px 0 0 0}
.notice ul li{ padding:3px 0 3px 15px}

.sec_02 .layout ul li a img{ width:130px; height:130px}

}