/* 메뉴리스트 */
.cms #menu_tree li a{
	transition : all 0.5s ease;
    -webkit-transition : all 0.5s ease;
    -moz-transition : all 0.5s ease;
    -ms-transition : all 0.5s ease;
    -khtml-transition : all 0.5s ease;
    -o-transition : all 0.5s ease;
}
.cms #menu_tree,
.cms #floatingContainer{display:block; width:100%; background-color:#fff;}
.cms #floatingContainer{
	box-shadow:1px 1px 5px #333;
	-moz-box-shadow:1px 1px 5px #333;
    -webkit-box-shadow:1px 1px 5px #333;
    -ms-box-shadow:1px 1px 5px #333;
    -khtml-box-shadow:1px 1px 5px #333;
    -o-box-shadow:1px 1px 5px #333;
}
.cms #menu_tree li,
.cms #floatingContainer li{display:block; overflow:hidden; position:relative; border-top:1px solid #e0e0e0;}
.cms #menu_tree li a,
.cms #floatingContainer li a{display:table; width:100%; text-decoration:none !important;}
.cms #menu_tree li a div,
.cms #floatingContainer li a div,
.cms #menu_tree li a strong,
.cms #floatingContainer li a strong{display:table-cell; height:24px; font-weight:normal; box-sizing:border-box;}
.cms #menu_tree ul,
.cms #floatingContainer ul{display:none; clear:both; width:100%; box-sizing:border-box;}
.cms #menu_tree li a,
.cms #floatingContainer li a{box-sizing:border-box;}
.cms #menu_tree li .deps,
.cms #menu_tree li img,
.cms #menu_tree li a,
.cms #floatingContainer li .deps,
.cms #floatingContainer li img,
.cms #floatingContainer li a{vertical-align:middle;}
.cms #floatingContainer li .deps,
.cms #menu_tree li .deps{
	display:inline-block; width:20px; height:20px; line-height:20px; margin:0px 5px; text-align:center; vertical-align:middle; font-weight:600; font-size:12px; color:#fff; background-color:#58c45f;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-khtml-border-radius:10px;
	-o-border-radius:10px;
}
.cms #menu_tree li a,
.cms #floatingContainer li a{line-height:20px; padding:11px 0px; font-weight:normal; font-size:14px; color:#404040;}
.cms #menu_tree li a:hover{cursor:move; background-color:#eee;}
.cms #menu_tree li.th a:hover{cursor:default; background-color:#fff;}
.cms #menu_tree li a.on,
.cms #menu_tree li a.on:hover{cursor:move; background-color:#f4f0ec;}
.cms #menu_tree li .check,
.cms #floatingContainer li .check{position:absolute; left:24px; top:10px; width:15px; height:15px;}
.cms #menu_tree li.th .check{top:20px;}

.cms #menu_tree li img,
.cms #floatingContainer li img,
.cms #menu_tree li .deps,
.cms #floatingContainer li .deps{position:absolute; left:0; top:12px;}
.cms #menu_tree li img,
.cms #floatingContainer li img{top:15px;}

.cms #floatingContainer li .deps{background-color:#ccc;}
.cms #floatingContainer li .deps:after{content:"?";}

.cms #menu_tree li .deps:after{content:"1";}
.cms #menu_tree li a,
.cms #floatingContainer li a{padding-left:60px;}
.cms #menu_tree li img,
.cms #floatingContainer li img{left:55px;}
.cms #menu_tree li .deps,
.cms #floatingContainer li .deps{left:70px;}
.cms #menu_tree li strong,
.cms #floatingContainer li strong{padding-left:40px;}

.cms #menu_tree li li .deps{background-color:#f55b63;}
.cms #menu_tree li li .deps:after{content:"2";}
.cms #menu_tree li li img,
.cms #floatingContainer li li img{left:68px;}
.cms #menu_tree li li .deps,
.cms #floatingContainer li li .deps{left:83px;}
.cms #menu_tree li li strong,
.cms #floatingContainer li li strong{padding-left:53px;}

.cms #menu_tree li li li .deps{background-color:#39bec4;}
.cms #menu_tree li li li .deps:after{content:"3";}
.cms #menu_tree li li li img,
.cms #floatingContainer li li li img{left:81px;}
.cms #menu_tree li li li .deps,
.cms #floatingContainer li li li .deps{left:96px;}
.cms #menu_tree li li li strong,
.cms #floatingContainer li li li strong{padding-left:66px;}

.cms #menu_tree li li li li .deps{background-color:#a4b6c1;}
.cms #menu_tree li li li li .deps:after{content:"4";}
.cms #menu_tree li li li li img,
.cms #floatingContainer li li li li img{left:94px;}
.cms #menu_tree li li li li .deps,
.cms #floatingContainer li li li li .deps{left:109px;}
.cms #menu_tree li li li li strong,
.cms #floatingContainer li li li li strong{padding-left:79px;}

.cms #menu_tree li li li li li .deps{background-color:#f5b65b;}
.cms #menu_tree li li li li li .deps:after{content:"5";}
.cms #menu_tree li li li li li img,
.cms #floatingContainer li li li li li img{left:107px;}
.cms #menu_tree li li li li li .deps,
.cms #floatingContainer li li li li li .deps{left:122px;}
.cms #menu_tree li li li li li strong,
.cms #floatingContainer li li li li li strong{padding-left:92px;}

.cms #menu_tree li li li li li li .deps{background-color:#bd5bf5;}
.cms #menu_tree li li li li li li .deps:after{content:"6";}
.cms #menu_tree li li li li li li img,
.cms #floatingContainer li li li li li li img{left:120px;}
.cms #menu_tree li li li li li li .deps,
.cms #floatingContainer li li li li li li .deps{left:135px;}
.cms #menu_tree li li li li li li strong,
.cms #floatingContainer li li li li li li strong{padding-left:105px;}

.cms #menu_tree div,
.cms #floatingContainer div{text-align:center;}
.cms #menu_tree .menu_object,
.cms #floatingContainer .menu_object{width:auto;}
.cms #menu_tree .menu_add,
.cms #floatingContainer .menu_add{overflow:hidden; width:80px; text-indent:-1000px; cursor:pointer; background:url(../../../../../js/core/plug/drag-drop-folder-tree/images/menu_add.png) no-repeat center center;}
.cms #menu_tree .menu_add.on{background:url(../../../../../js/core/plug/drag-drop-folder-tree/images/menu_add_on.png) no-repeat center center;}
.cms #menu_tree .th .menu_add{text-indent:0; cursor:default; background:none;}
.cms #menu_tree li li li li .menu_add{text-indent:-1000px; background:none;}
.cms #menu_tree .menu_type,
.cms #floatingContainer .menu_type{width:100px;}
.cms #menu_tree .menu_order,
.cms #floatingContainer .menu_order{width:120px;}
.cms #menu_tree .menu_content,
.cms #floatingContainer .menu_content{width:100px;}
.cms #menu_tree .menu_etc,
.cms #floatingContainer .menu_etc{width:150px;}

.cms #menu_tree li.th{padding-top:10px; border-top:1px solid #cacfd5;}
.cms #menu_tree li.th .deps{display:none !important;}
.cms #menu_tree li.th .menu_object{padding-left:0 !important;}
.cms #menu_tree li.th a{cursor:default;}
.cms #menu_tree li.th a div,
.cms #menu_tree li.th a strong{font-weight:600; font-size:15px; color:#141414;}

.cms #menu_tree li.td .deps:hover{cursor:s-resize;}





















