@charset "utf-8";

#main #content {padding:60px 0;}
/*visual_wrap*/
.visual_wrap{position: relative; height:602px; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.main_visual{width:580px; margin:0 auto; height:100%;transition : width 0.3s ease;  -webkit-transition : width 0.3s ease; }
.main_visual .js_slide.type_03 .control a.btn_left,
.main_visual .js_slide.type_03 .control a.btn_right{display:none;}
.main_visual .js_slide.type_03 { height:100%; }
.main_visual .js_slide.type_03 .move ul li {background-size:cover;background-repeat:no-repeat;background-position: center center;}
.main_visual .js_slide.type_03 .move ul li:nth-child(1){background-image: url(../../../images/site/socialwelfare/layout/visual1.jpg);}
.main_visual .js_slide.type_03 .move ul li:nth-child(2){background-image: url(../../../images/site/socialwelfare/layout/visual2.jpg);}
.main_visual .js_slide.type_03 .move ul li .txts {position: absolute; top:74px; left:50px; width:480px; height:84px; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.main_visual .js_slide.type_03 .move ul li .txts span{ font-family: 'AritaBuri'; color:#363d44; font-size:26px; display:block;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.main_visual .js_slide.type_03 .move ul li .txts p {margin-top:28px; font-family: 'AritaBuri'; color:#363d44; font-size:44px;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease;  }

.main_visual .js_slide.type_03 .control { width:100px; height:15px; top:180px !important; left:57px !important; text-align:left;}
.main_visual .js_slide.type_03 .control ul{overflow: hidden; display:inline-block; position: relative; left:auto; right:auto; width:auto; bottom:auto;}
.main_visual .js_slide.type_03 .control ul li{float:left; position: relative; margin-right:10px;}
.main_visual .js_slide.type_03 .control ul li:first-child{margin-left:0;}
.main_visual .js_slide.type_03 .control ul li:last-child{margin-right:5px;}
.main_visual .js_slide.type_03 .control ul li a {width:15px; height:15px; box-sizing: border-box; background-color:transparent; border:2px solid #cdcdcd; border-radius:50%;-webkit-border-radius:50%;}
.main_visual .js_slide.type_03 .control ul li a.on{background:#cdcdcd;}
.main_visual .js_slide.type_03 .control a.btn_play, 
.main_visual .js_slide.type_03 .control a.btn_stop {display:inline-block; vertical-align:top; width:15px; height:15px; border:0;position: relative; right:auto; bottom:auto; }
.main_visual .js_slide.type_03 .control a.btn_play span, 
.main_visual .js_slide.type_03 .control a.btn_stop span{font-size:0;}
.main_visual .js_slide.type_03 .control a.btn_play{background:url(../../../images/site/socialwelfare/layout/visual_play.png)no-repeat center center;}
.main_visual .js_slide.type_03 .control a.btn_stop{background:url(../../../images/site/socialwelfare/layout/visual_stop.png)no-repeat center center;}

.visual_wrap .card_area ul li{position: absolute; width:300px; height:50%;transition : height 0.3s ease;  -webkit-transition : height 0.3s ease; }
.visual_wrap .card_area ul li:nth-child(1){left:0; top:0;  background:#363d44; }
.visual_wrap .card_area ul li:nth-child(2){left:0; bottom:0; background:url(../../../images/site/socialwelfare/layout/card_bg.jpg)no-repeat; background-size:cover; background-position:center center;}
.visual_wrap .card_area ul li:nth-child(3){right:0;bottom:0;background:#363d44;}
.visual_wrap .card_area ul li a{text-decoration:none; padding:20px; box-sizing:border-box; display:block; width:100%; height:100%; }
.visual_wrap .card_area ul li:nth-child(1) a {background:url(../../../images/site/socialwelfare/layout/card_ico1.png)no-repeat;background-position: right 55px bottom 55px;}
.visual_wrap .card_area ul li:nth-child(2) a {background:url(../../../images/site/socialwelfare/layout/card_ico2.png)no-repeat;background-position: right 55px bottom 55px;}
.visual_wrap .card_area ul li:nth-child(3) a {background:url(../../../images/site/socialwelfare/layout/card_ico3.png)no-repeat;background-position: right 55px bottom 55px;}
.visual_wrap .card_area ul li a .inner{ padding:38px 40px; box-sizing: border-box; transition : all 0.5s ease;  -webkit-transition : all 0.5s ease; position: relative; height:100%; border:1px solid rgba(255,255,255,0.1); }
.visual_wrap .card_area ul li a .inner:before,
.visual_wrap .card_area ul li a .inner:after{ content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; border: solid #fff; opacity: 0; -webkit-opacity: 0; transition : all 0.5s ease;  -webkit-transition : all 0.5s ease; }
.visual_wrap .card_area ul li a .inner:before{ border-width: 1px 0; -webkit-transform: scale(0,1); transform: scale(0,1);}
.visual_wrap .card_area ul li a .inner:after{ border-width: 0 1px; -webkit-transform: scale(1,0); transform: scale(1,0);}
.visual_wrap .card_area ul li a:hover .inner:before,
.visual_wrap .card_area ul li a:hover .inner:after{ opacity: 0.8;-webkit-opacity: 0.8; -webkit-transform: scale(1);transform: scale(1);}
.visual_wrap .card_area ul li a .inner strong{display:block; color:#fff;font-weight:400; font-size:22px;  }
.visual_wrap .card_area ul li a .inner p{color:#fff; margin-top:12px; line-height:19px;font-weight:300;}


.visual_wrap .popup_area{position: absolute; right:0; top:0; width:300px; height:50%; background:#fff;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.visual_wrap .popup_area .tits{display:block; padding:22px 20px;  font-size:19px; color:#21262b; font-weight:500; }
.visual_wrap .popup_area .js_slide.type_02 { width:100%; height:238px; }
.visual_wrap .popup_area .js_slide.type_02 .control{right:0 !important; top:auto !important; bottom:0px !important; height:57px; line-height:57px; padding:0 20px !important; background-color:#343434; text-align:right; box-sizing: border-box; }
.visual_wrap .popup_area .js_slide.type_02 .control a{margin-left:5px; width: 14px; height: 17px; background-color: transparent; background-repeat: no-repeat; background-position: center center; border: 0; text-align: left;}
.visual_wrap .popup_area .js_slide.type_02 .control .tit{ position: absolute; top: 0; left: 20px; font-size: 17px; font-weight:500; color: #fff;}
.visual_wrap .popup_area .js_slide.type_02 .control a.btn_left{background-image: url(../../../images/site/socialwelfare/layout/pop_left.png);}
.visual_wrap .popup_area .js_slide.type_02 .control a.btn_right{background-image: url(../../../images/site/socialwelfare/layout/pop_right.png);}
.visual_wrap .popup_area .js_slide.type_02 .control a.btn_play{background-image: url(../../../images/site/socialwelfare/layout/btn_play.png);}
.visual_wrap .popup_area .js_slide.type_02 .control a.btn_stop{background-image: url(../../../images/site/socialwelfare/layout/pop_stop.png);}
.visual_wrap .popup_area .js_slide.type_02 .control a.btn_plus{background-image: url(../../../images/site/socialwelfare/layout/pop_plus.png);}
.visual_wrap .popup_area .js_slide.type_02 .control a span{font-size:0;}
.visual_wrap .popup_area .js_slide.type_02 .move{height:181px;transition : height 0.3s ease;  -webkit-transition : height 0.3s ease;}
.visual_wrap .popup_area .js_slide.type_02 .move ul li a{ border:0; background:#fff;}

/*공지존*/
.notice_wrap{margin:40px 0;}
.notice_wrap:after{content:""; display:block; clear:both; }
.notice_wrap .photo_zone{position: relative; padding:30px; background:#fff; float:left; width:49%; height:257px;padding:30px; box-sizing: border-box;}
.notice_wrap .photo_zone strong{font-size:22px; color:#313336; font-weight:500;}
.notice_wrap .photo_zone .more_btn{display:block; position: absolute; right:30px; top:25px;z-index:20; width:30px; height:30px; text-indent:-9999px;border:1px solid #ddd; }
.notice_wrap .photo_zone .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/socialwelfare/layout/more_btn.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.notice_wrap .photo_zone .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.notice_wrap .photo_zone a.photo_link{display:block; margin-top:25px;}
.notice_wrap .photo_zone .photos{position: relative;}
.notice_wrap .photo_zone .photos:after{content:""; display:block; clear:both;}
.notice_wrap .photo_zone .photos_area{overflow: hidden; position: relative; width: 48%; height: 151px; background: #ececec;  float:left; }
.notice_wrap .photo_zone .photos_area span {position: absolute; top: 0; left: 50%; width: 10000px; height: 100%; margin-left: -5000px; text-align: center;}
.notice_wrap .photo_zone .photos_area span img { display: inline-block; height: 100%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.notice_wrap .photo_zone a.photo_link:hover .photos_area span img { transform: scale(1.1);-webkit-transform: scale(1.1);}
.notice_wrap .photo_zone .txts{float:right; width:49%; padding-top:26px; }
.notice_wrap .photo_zone a.photo_link:hover .txts .subject {text-decoration: underline;}
.notice_wrap .photo_zone .txts .subject{display:block; line-height:19px; overflow: hidden; height:38px; color:#115f25;  font-size:17px; font-weight:400;}
.notice_wrap .photo_zone .txts .date{display:block; margin-top:35px; position: relative;padding-left:15px; font-size:14px; color:#9f9f9f; }
.notice_wrap .photo_zone .txts .date:before{content:""; display:block; position: absolute; left:0; top:6px; width:13px; height:12px; background:url(../../../images/site/socialwelfare/layout/date_ico.png)no-repeat;}

.notice_wrap .notice_zone {position: relative; background:#fff; float:left; width:49%; height:257px; margin-left:2%; padding:30px; box-sizing: border-box;}
.notice_wrap .notice_zone .tab_btn{box-sizing: border-box;}
.notice_wrap .notice_zone .tab_btn ul li{display:inline-block;}
.notice_wrap .notice_zone .tab_btn a{position:relative;display:inline-block;text-decoration: none; font-weight:500;padding-right:15px; font-size:22px;color:#c2c2c3;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease;}
.notice_wrap .notice_zone .tab_btn a.on,
.notice_wrap .notice_zone .tab_btn a:active,
.notice_wrap .notice_zone .tab_btn a:hover {color:#313336;}
.notice_wrap .notice_zone .tab_cont{display:none; position: relative;}
.notice_wrap .notice_zone .tab_cont.on{display:block;}
.notice_wrap .notice_zone .tab_cont ul{box-sizing: border-box; padding-top:30px; transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.notice_wrap .notice_zone .tab_cont ul li{position:relative;padding-left:15px;line-height:19px; overflow: hidden; margin-top:10px;}
.notice_wrap .notice_zone .tab_cont ul li:first-child{margin-top:0;}
.notice_wrap .notice_zone .tab_cont ul li:before{content:""; display:block; position: absolute; left:0;top:9px; width:3px; height:3px; background:#666;}
.notice_wrap .notice_zone .tab_cont ul li span{display:block;color:#a3a4a5; font-size:16px;}
.notice_wrap .notice_zone .tab_cont ul li span.subject{width:80%; float:left; text-align:left;}
.notice_wrap .notice_zone .tab_cont ul li span.subject a{color:#313336; display:inline-block; width: auto; max-width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box;}
.notice_wrap .notice_zone .tab_cont ul li span.date{width:20%; float:right; text-align:right;}
.notice_wrap .notice_zone .tab_cont ul li span.date span{display:inline-block;}
.notice_wrap .notice_zone .tab_cont .more_btn{display:block; position: absolute; right:0px; top:-27px;z-index:20; width:30px; height:30px; text-indent:-9999px;border:1px solid #ddd; }
.notice_wrap .notice_zone .tab_cont .more_btn:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../../images/site/socialwelfare/layout/more_btn.png) no-repeat center 50%; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.notice_wrap .notice_zone .tab_cont .more_btn:hover:after { transform: rotate(180deg); -webkit-transform: rotate(180deg);}

/*베너존*/
.banner_wrap {margin-top:40px; height:188px;background:#fff;  transition : height 0.3s ease;  -webkit-transition : height 0.3s ease; }
.banner_wrap strong{display:none;}
.banner_wrap .js_slide .move ul.mo_type{overflow:visible;}
/* .banner_wrap .js_slide .move ul.pc_type{display:block;overflow:visible;} */
.banner_wrap .js_slide .control {display:none;}
.banner_wrap .js_slide{padding:0; height:100%;}
.banner_wrap .js_slide .move{overflow:visible;}
.banner_wrap .js_slide .move ul li{position: relative; padding:0;width:20%; box-sizing: border-box;}
.banner_wrap .js_slide .move ul{width:100%; box-sizing: border-box;}
.banner_wrap .js_slide .move ul li:after{content:""; display:block; position: absolute; right:0; top:50%; margin-top:-18px; width:1px; height:36px; background:#e3e5d7;}
.banner_wrap .js_slide .move ul li:nth-child(5):after{display:none;}
.banner_wrap .js_slide .move ul li a:hover, 
.banner_wrap .js_slide .move ul li a:focus { border: 0;text-decoration:none;}
.banner_wrap .js_slide .move ul li a{position: relative; padding:42px 0;display:block;border:0; text-decoration:none; background:transparent;transition : all 0.2s ease;  -webkit-transition : all 0.2s ease; }
.banner_wrap .js_slide .move ul.pc_type li:nth-child(5):after{display:none;}
.banner_wrap .js_slide .move ul li a span{position: relative;top:auto; left:auto; width:auto; height:auto; margin-left:0; padding-top:86px; display:block; color:#363d44; font-size:17px; }
.banner_wrap .js_slide .move ul li a span:before{content:""; display:block; position: absolute; top:0; left:50%; margin-left:-37px; width:74px; height:74px;background-repeat:no-repeat; background-position: center center; border-radius:50%;-webkit-border-radius:50%;transition : all 0.2s ease;  -webkit-transition : all 0.2s ease; }
.banner_wrap .js_slide .move ul li.ba1 a span:before{background-image: url(../../../images/site/socialwelfare/layout/2.png);}
.banner_wrap .js_slide .move ul li.ba2 a span:before{background-image: url(../../../images/site/socialwelfare/layout/5.png);}
.banner_wrap .js_slide .move ul li.ba3 a span:before{background-image: url(../../../images/site/socialwelfare/layout/1.png);}
.banner_wrap .js_slide .move ul li.ba4 a span:before{background-image: url(../../../images/site/socialwelfare/layout/3.png);}
.banner_wrap .js_slide .move ul li.ba5 a span:before{background-image: url(../../../images/site/socialwelfare/layout/4.png);}
.banner_wrap .js_slide .move ul li a:hover { transform: translate(-10px,-10px);-webkit-transform: translate(-10px,-10px); background:#205da2; box-shadow: 3px 5px 12px rgba(29,97,135,0.34);}
.banner_wrap .js_slide .move ul li.ba1 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/22.png);}
.banner_wrap .js_slide .move ul li.ba2 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/55.png);}
.banner_wrap .js_slide .move ul li.ba3 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/11.png);}
.banner_wrap .js_slide .move ul li.ba4 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/33.png);}
.banner_wrap .js_slide .move ul li.ba5 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/44.png);}
.banner_wrap .js_slide .move ul li a:hover span{color:#fff;}

@media screen and (max-width: 1160px){
    /*visual_wrap*/
    .visual_wrap{ height:563px;}
    .visual_wrap .card_area ul li {width:256px;}
    .visual_wrap .popup_area {width:256px;}
    .visual_wrap .popup_area .tits{padding:18px 20px;}
    .visual_wrap .popup_area .js_slide.type_02 {height:228px;}
    .visual_wrap .popup_area .js_slide.type_02 .control {height:56px; line-height:56px;}
    .visual_wrap .popup_area .js_slide.type_02 .move{height:172px;}
}

@media screen and (max-width: 1070px){
    /*visual_wrap*/
    .visual_wrap {  height: 496px;}
    .main_visual{width:510px;}
    .main_visual .js_slide.type_03 .control{ top: 147px !important; left: 39px !important;}
    .main_visual .js_slide.type_03 .move ul li .txts{left:35px; top:50px; width:432px;}
    .visual_wrap .popup_area .tits {  padding: 15px 20px; }
    .visual_wrap .popup_area .js_slide.type_02 {  height: 199px;}
    .visual_wrap .popup_area .js_slide.type_02 .control { height: 47px; line-height: 47px;}
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 153px;}
    .visual_wrap .card_area ul li a .inner {padding:30px;}
    .visual_wrap .card_area ul li:nth-child(1) a { background-position: right 40px bottom 40px;}
    .visual_wrap .card_area ul li:nth-child(2) a { background-position: right 40px bottom 40px;}
    .visual_wrap .card_area ul li:nth-child(3) a { background-position: right 40px bottom 40px;}
    .main_visual .js_slide.type_03 .move ul li .txts span{font-size:24px;}
    .main_visual .js_slide.type_03 .move ul li .txts p {margin-top:25px; font-size:40px;}
    /*공지존*/
    .notice_wrap .notice_zone .tab_cont ul li span.subject {width:74%;}
    .notice_wrap .notice_zone .tab_cont ul li span.date{width:22%;}
}

@media screen and (max-width: 1024px){
    #main #content {padding:30px 0 40px 0;}
    /*visual_wrap*/
    .visual_wrap { height: 470px;}
    .main_visual .js_slide.type_03 .control {  top: 132px !important;}
    .main_visual .js_slide.type_03 .move ul li .txts {left: 35px; top: 50px; width: 348px;}
    .main_visual .js_slide.type_03 .move ul li .txts span{font-size:20px; }
    .main_visual .js_slide.type_03 .move ul li .txts p { margin-top: 18px; font-size: 32px;}
    .visual_wrap .popup_area { width: 233px;}
    .visual_wrap .card_area ul li{width:233px;}
    .visual_wrap .card_area ul li a .inner strong {font-size:20px;}
    .visual_wrap .card_area ul li a .inner p{display:none;}
    .visual_wrap .card_area ul li:nth-child(1) a {background-size:20% auto;}
    .visual_wrap .card_area ul li:nth-child(2) a {background-size:20% auto;}
    .visual_wrap .card_area ul li:nth-child(3) a {background-size:20% auto;}
    .visual_wrap .card_area ul li a:hover .inner:before,
    .visual_wrap .card_area ul li a:hover .inner:after{ opacity: 0;-webkit-opacity: 0;}
    .visual_wrap .popup_area .js_slide.type_02 { height: 191px;}
    .visual_wrap .popup_area .js_slide.type_02 .control { height: 45px; line-height: 45px;}
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 146px;}
    .visual_wrap .popup_area .tits{font-size:17px;padding: 13px 20px 12px;}
    .visual_wrap .popup_area .js_slide.type_02 .control .tit {font-size:15px; font-family: 'NotoSans'; font-weight:400;}
    /*공지존*/
    .notice_wrap .notice_zone .tab_cont ul li span.date{font-size:14px;}
    .notice_wrap .photo_zone strong,
    .notice_wrap .notice_zone .tab_btn a{font-size:20px;}
    .notice_wrap .photo_zone .photos_area {width:56%;}
    .notice_wrap .photo_zone .txts { width:41%;}
    .notice_wrap .photo_zone a.photo_link:hover .photos_area span img { transform: scale(1);-webkit-transform: scale(1);}
    .notice_wrap .notice_zone .tab_cont .more_btn:hover:after { transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    .notice_wrap .photo_zone .more_btn:hover:after { transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    /*베너존*/
    .banner_wrap {height:170px;}
    .banner_wrap .js_slide .move ul li a:hover { transform:none; -webkit-transform:none; background:transparent; box-shadow:none;}
    .banner_wrap .js_slide .move ul li.ba1 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/2.png);}
    .banner_wrap .js_slide .move ul li.ba2 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/5.png);}
    .banner_wrap .js_slide .move ul li.ba3 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/1.png);}
    .banner_wrap .js_slide .move ul li.ba4 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/3.png);}
    .banner_wrap .js_slide .move ul li.ba5 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/4.png);}
    .banner_wrap .js_slide .move ul li a:hover span{color:#363d44;}
    .banner_wrap .js_slide .move ul li a{padding:33px 0;}
    .banner_wrap .js_slide .move ul li a span {font-size:16px; font-family:'NotoSans';}
}

@media screen and (max-width: 960px){
    /*visual_wrap*/
    .main_visual {width: 447px;}
}

@media screen and (max-width: 940px){
    /*visual_wrap*/
    .visual_wrap{height:auto;}
    .main_visual{height:480px;  width:100%; }
    .main_visual .js_slide.type_03 .control {top:147px !important;}
    .main_visual .js_slide.type_03 .move ul li .txts { left: 35px; top: 50px;width: 432px;}
    .main_visual .js_slide.type_03 .move ul li .txts span {  font-size: 24px; }
    .main_visual .js_slide.type_03 .move ul li .txts p { margin-top: 25px; font-size: 40px;}

    .visual_wrap .card_area{position: relative; height:452px;}
    .visual_wrap .card_area ul:after{content:""; display:block; clear:both;}
    .visual_wrap .card_area ul li {position: relative; float:left; width:50%; height:226px;}
    .visual_wrap .card_area ul li:last-child{position: absolute; right:0; bottom:0;}
    .visual_wrap .card_area ul li:nth-child(1) a {background-size:auto;}
    .visual_wrap .card_area ul li:nth-child(2) a {background-size:auto;}
    .visual_wrap .card_area ul li:nth-child(3) a {background-size:auto;}
    .visual_wrap .popup_area .tits{display:none;}
    .visual_wrap .popup_area{position: absolute;left:0; bottom:0;top:auto; width:50%; height:226px;}
    .visual_wrap .popup_area .js_slide.type_02{height:100%;}
    .visual_wrap .popup_area .js_slide.type_02 .move{height:181px;}

    /*공지존*/
    .notice_wrap .notice_zone .tab_cont ul li span.subject { width: 72%;}
    .notice_wrap .notice_zone .tab_cont ul li span.date {  width: 24%; }
}

@media screen and (max-width: 840px){
    /*visual_wrap*/
    .main_visual { height: 440px; }
    .main_visual .js_slide.type_03 .control { top: 132px !important;}
    .main_visual .js_slide.type_03 .move ul li .txts { left: 35px; top: 50px; width: 432px;}
    .main_visual .js_slide.type_03 .move ul li .txts span { font-size: 20px;}
    .main_visual .js_slide.type_03 .move ul li .txts p { margin-top: 18px; font-size: 32px;}
    .visual_wrap .card_area{height:400px;}
    .visual_wrap .card_area ul li {height:200px;}
    .visual_wrap .popup_area{height:200px;}
    .visual_wrap .popup_area .js_slide.type_02 .control { height: 41px; line-height: 41px;}
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 159px;}
    /*공지존*/
    .notice_wrap .notice_zone .tab_cont ul li span.subject { width: 68%;}
    .notice_wrap .notice_zone .tab_cont ul li span.date {  width: 28%; }
}

@media screen and (max-width: 740px){
    /*visual_wrap*/
    .main_visual { height: 400px; }
    .visual_wrap .card_area{height:366px;}
    .visual_wrap .card_area ul li {height:183px;}
    .visual_wrap .popup_area { height: 183px;}
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 142px;}
    .visual_wrap .card_area ul li:nth-child(1) a {background-size:15% auto;}
    .visual_wrap .card_area ul li:nth-child(2) a {background-size:15% auto;}
    .visual_wrap .card_area ul li:nth-child(3) a {background-size:15% auto;}
    /*공지존*/
    .notice_wrap .notice_zone .tab_cont ul li span.subject {width:66%;}
    .notice_wrap .notice_zone .tab_cont ul li span.date{width:34%;}
    .notice_wrap .notice_zone .tab_cont ul li span{font-size:15px;}
    .notice_wrap .notice_zone .tab_btn a{padding-right:10px;}
    
}

@media screen and (max-width: 740px) and (min-width: 641px) {
    .notice_wrap .photo_zone .photos_area,
    .notice_wrap .photo_zone .txts  {float:none; width:100%;}
    .notice_wrap .photo_zone .txts {position: absolute; padding:7px; box-sizing:border-box; bottom:0; left:0; background:rgba(0,0,0,0.6); width:100%; height:50px; }
    .notice_wrap .photo_zone .txts .subject { color:#fff; font-size:15px; font-family:'NotoSans'; width: auto; max-width: 100%;white-space: nowrap; text-overflow: ellipsis;}
    .notice_wrap .photo_zone .txts .date{margin-top:-19px;}
}

@media screen and (max-width: 640px){
    #main #content {padding:30px 0;}
    /*visual_wrap*/
    .main_visual { height: 370px; }
    .visual_wrap .card_area { height: auto; }
    .visual_wrap .card_area ul li a .inner {padding:0; border:0;}
    .visual_wrap .card_area ul li{width:33.33%;height:146px; box-sizing: border-box;}
    .visual_wrap .card_area ul li:last-child { position: relative; right: auto; bottom:auto; }
    .visual_wrap .card_area ul li a{background:#363d44 !important;padding:30px 5px;border-right:1px solid #464c53; box-sizing: border-box;}
    .visual_wrap .card_area ul li:last-child a{border-right:0;}
    .visual_wrap .card_area ul li a .inner strong { font-size: 18px; text-align: center;position: relative; padding-top:64px;}
    .visual_wrap .card_area ul li a .inner strong:before{content:""; display:block; position: absolute; top:0; left:50%;margin-left:-25px; width:50px; height:52px; background-size:100% auto; background-repeat:no-repeat; }
    .visual_wrap .card_area ul li:nth-child(1) a .inner strong:before { background-image: url(../../../images/site/socialwelfare/layout/card_ico1.png);}
    .visual_wrap .card_area ul li:nth-child(2) a .inner strong:before { background-image: url(../../../images/site/socialwelfare/layout/card_ico2.png);}
    .visual_wrap .card_area ul li:nth-child(3) a .inner strong:before { background-image: url(../../../images/site/socialwelfare/layout/card_ico3.png);}
    .visual_wrap .popup_area{margin:20px 0; width:100%; height:auto; position: relative; background:#fff; padding:30px; box-sizing: border-box;}
    .visual_wrap .popup_area .tits {  display: block; padding:0 0 20px 0;}
    .visual_wrap .popup_area .js_slide.type_02 { height: 257px;}
    .visual_wrap .popup_area .js_slide.type_02 .move {  height: 216px; }

    /*공지존*/
    .notice_wrap { margin: 20px 0;}
    .notice_wrap .photo_zone{float:none; width:100%;height:auto;}
    .notice_wrap .notice_zone{margin-left:0;margin-top:20px; float:none; width:100%; height:auto;}
    .notice_wrap .photo_zone strong, .notice_wrap .notice_zone .tab_btn a { font-size: 17px;}
    .notice_wrap .photo_zone .more_btn { right: 30px;  top: 28px; }
    .notice_wrap .notice_zone .tab_cont .more_btn { right: -1px;top:-23px;}
    .notice_wrap .notice_zone .tab_cont ul{padding-top:22px;}
    .notice_wrap .photo_zone .photos_area { width: 47%; }
    .notice_wrap .photo_zone .txts { width: 50%; }
    /*베너존*/
    .banner_wrap{position: relative; height:214px; background:#205da2;margin-top:20px;padding:40px 30px 30px 30px; box-sizing:border-box;}
    .banner_wrap .js_slide .move ul.mo_type{display:block;}
    /* .banner_wrap .js_slide .move ul.pc_type{display:none;} */
    .banner_wrap strong{position: absolute; top:34px; left:30px; display:block;font-size:17px; color:#fff; font-weight:500; }
    .banner_wrap .js_slide .control { right:-35px !important; left:auto !important; top:-11px !important; height:30px; display:block; width:200px;}
    .banner_wrap .js_slide .control .count { display:inline-block; color:#fff; font-size:14px;margin-right:10px; vertical-align:top; margin-top:7px;}
    .banner_wrap  .js_slide .control a[class*="btn_"] {width:30px; height:30px;margin:0 -2px; border:1px solid #5181b6; }
    .banner_wrap .js_slide .control a.btn_left {background:#205da2 url(../../../images/site/socialwelfare/layout/mo_pop_left.png)no-repeat center center;}
    .banner_wrap .js_slide .control a.btn_right {background:#205da2 url(../../../images/site/socialwelfare/layout/mo_pop_right.png)no-repeat center center;}
    .banner_wrap .js_slide .control a.btn_play {background:#205da2 url(../../../images/site/socialwelfare/layout/mo_pop_play.png)no-repeat center center;}
    .banner_wrap .js_slide .control a.btn_stop {background:#205da2 url(../../../images/site/socialwelfare/layout/mo_pop_stop.png)no-repeat center center;}

    .banner_wrap .js_slide .move{overflow: hidden;}
    .banner_wrap .js_slide .move ul{width:20000px;margin-top:10px;}
    .banner_wrap .js_slide .move ul li:after{display:none;}
    .banner_wrap .js_slide .move ul li a {  padding: 31px 0; }
    .banner_wrap .js_slide .move ul li a span{color:#fff; font-size:15px;}
    .banner_wrap .js_slide .move ul li a:hover span{color:#fff; }
    .banner_wrap .js_slide .move ul li a span:before{content:""; display:block; position: absolute; top:0; left:50%; margin-left:-37px; width:74px; height:74px; background-color:#fff; background-repeat:no-repeat; background-position: center center; border-radius:50%;-webkit-border-radius:50%;}
    .banner_wrap .js_slide .move ul li.ba1 a span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico2.png);}
    .banner_wrap .js_slide .move ul li.ba2 a span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico5.png);}
    .banner_wrap .js_slide .move ul li.ba3 a span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico1.png);}
    .banner_wrap .js_slide .move ul li.ba4 a span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico3.png);}
    .banner_wrap .js_slide .move ul li.ba5 a span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico4.png);}
    .banner_wrap .js_slide .move ul li.ba1 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico2.png);}
    .banner_wrap .js_slide .move ul li.ba2 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico5.png);}
    .banner_wrap .js_slide .move ul li.ba3 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico1.png);}
    .banner_wrap .js_slide .move ul li.ba4 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico3.png);}
    .banner_wrap .js_slide .move ul li.ba5 a:hover span:before{background-image: url(../../../images/site/socialwelfare/layout/pop_ov_ico4.png);}
}

@media screen and (max-width: 480px){
    /*visual_wrap*/
    .main_visual { height: 326px;}
    .main_visual .js_slide.type_03 .control { top: 116px !important; left:22px !important;}
    .main_visual .js_slide.type_03 .move ul li .txts { left: 17px; top: 40px;width: 338px;}
    .main_visual .js_slide.type_03 .move ul li .txts p { margin-top: 16px; font-size: 30px; }
    .visual_wrap .card_area ul li{height:114px;}
    .visual_wrap .card_area ul li a{padding:20px 5px;}
    .visual_wrap .card_area ul li a .inner strong:before {width:40px; height:41px; margin-left:-20px;}
    .visual_wrap .card_area ul li a .inner strong {font-size: 16px; padding-top: 54px;}
    .visual_wrap .popup_area .js_slide.type_02 { height: 225px; }
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 184px; }
    /*공지존*/
    .notice_wrap .photo_zone .photos_area,
    .notice_wrap .photo_zone .txts  {float:none; width:100%;}
    .notice_wrap .photo_zone .photos_area{height:220px;}
    .notice_wrap .photo_zone .txts {position: absolute; padding:15px 10px; box-sizing:border-box; bottom:0; left:0; background:rgba(0,0,0,0.6); width:100%; height:50px; }
    .notice_wrap .photo_zone .txts .subject {padding-right: 91px; color:#fff; font-size:15px; font-family:'NotoSans'; width: auto; max-width: 100%;white-space: nowrap; text-overflow: ellipsis;}
    .notice_wrap .photo_zone .txts .date {  margin-top: 0;  position: absolute; right: 10px; top: 13px; }
    .notice_wrap .notice_zone{padding: 30px 30px 25px 30px;}
    .notice_wrap .notice_zone .tab_cont ul li{margin-top:5px;}
}

@media screen and (max-width: 380px){
    /*visual_wrap*/
    .main_visual {  height: 280px; }
    .main_visual .js_slide.type_03 .move ul li .txts span { font-size: 16px;}
    .main_visual .js_slide.type_03 .move ul li .txts p { margin-top: 10px; font-size: 23px;}
    .main_visual .js_slide.type_03 .control { top: 105px !important;  left: 22px !important;}
    .visual_wrap .popup_area{padding:20px;}
    .visual_wrap .popup_area .js_slide.type_02 { height: 203px;}
    .visual_wrap .popup_area .js_slide.type_02 .move { height: 162px;}
    /*공지존*/
    .notice_wrap .photo_zone {padding:20px;}
    .notice_wrap .photo_zone .photos_area { height: 203px; }
    .notice_wrap .photo_zone .more_btn { right: 20px;top: 17px; }
    .notice_wrap .photo_zone .txts{padding:7px;}
    .notice_wrap .photo_zone .txts .subject{padding-right:0;}
    .notice_wrap .photo_zone .txts .date { position: relative; right:auto; top:auto; margin-top:-19px;}
    .notice_wrap .notice_zone { padding: 20px 20px 17px 20px;}
    .notice_wrap .notice_zone .tab_cont ul li {padding-left:12px;}
    .notice_wrap .photo_zone .more_btn,
    .notice_wrap .notice_zone .tab_cont .more_btn {width:25px; height:25px;}
    /*베너존*/
    .banner_wrap{padding:30px 20px 20px 20px;height:199px;}
    .banner_wrap strong{top:26px; left:20px;}
}
