@charset "utf-8";



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Basic	

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
html,body{
	height:100%;
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	word-wrap: break-word;
	word-break: keep-all;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, button{margin:0; padding:0;}
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea{line-height:23px; margin:0; padding:0; color:#404040; font-size:15px; font-weight:400; font-family: 'NotoSans','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif;}
ul, ol, dl, dt, dd{margin:0; padding:0; list-style:none;}
img{border:none;}
hr{display:none;}
fieldset{border:none;}
legend{display:none;}
p{margin:0;}
table{table-layout:fixed; border-collapse:collapse; border-spacing:0;}
table caption{overflow:hidden; position:relative; line-height:1px; font-size:1px; text-indent:-30000px;}
.hidden{overflow:hidden; position:absolute; top:0; left:-30000px; line-height:1px; font-size:1px;}

@media screen and (max-width:640px){
	body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea{line-height:19px; font-size:14px;}
}

/* 초기 한글사용(한글 및 중국, 일본 사이트용) */
input[type="text"],
input[type="password"],
textarea{ime-mode:active;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Skip
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#skip{position:absolute; left:0; top:0; width:100%; margin:0 auto; z-index:999;}
#skip a{display:block; position:absolute; left:0; padding:10px; color:#fff; background:#000;}
#skip a:link,
#skip a:visited,
#skip a:active{top:-10000px;}
#skip a:hover,
#skip a:focus{top:0;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Align

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.align_left{text-align:left !important;}
.align_right{text-align:right !important;}
.align_center{text-align:center !important;}
.float_left{float:left;}
.float_right{float:right;}
.clear{clear:both;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Link

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
a:link,
a:visited,
a:active{text-decoration:none; color:#636363;}
a:hover,
a:focus{text-decoration:underline;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Form

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
input{box-sizing:border-box;}
input[type="text"],
input[type="password"]{height:20px; padding:0 5px; line-height:20px; border:1px solid #cecece; vertical-align:middle;}
input[type="radio"],
input[type="checkbox"]{margin-right:2px; vertical-align:middle;}
label{vertical-align:middle;}
input[type="submit"]{height:20px; padding:0 5px; line-height:20px; vertical-align:middle; cursor:pointer; border:none; background:#ccc;}
input[type="file"]{cursor:pointer; vertical-align:middle;}
input[type="text"],
input[type="password"],
input[type="submit"],
button{appearance:none; -webkit-appearance:none; border-radius:0; -webkit-border-radius:0;}
textarea{border:1px solid #dbdbdb; padding:5px; box-sizing:border-box;}
select{border:1px solid #dbdbdb; padding:0 5px; cursor:pointer; vertical-align:middle; box-sizing:border-box;}
input[readonly="readonly"],
textarea[readonly="readonly"],
input[disabled="disabled"],
textarea[disabled="disabled"]{background:#efefef;}

/*데이트피커*/
.js_cal{width:110px; text-align:center;}
.ui-datepicker-trigger{margin-left:5px; vertical-align:middle; cursor:pointer;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Heading

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
h2,h3,h4,h5,h6{font-weight:700;}
h4, .h4, h5, .h5, h6, .h6{position:relative;}
h4, .h4{display:block; margin:35px 0px 10px 0px; font-size:21px; line-height:29px; color:#1e1e1e;}
h5, .h5{display:block; margin:25px 0px 8px 0px; font-size:19px; line-height:24px; color:#1e1e1e;}
h6, .h6{display:block; margin:15px 0px 5px 0px; font-size:17px; line-height:20px; color:#404040;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	새창링크

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
a.blank{position:relative; display:inline-block; font-size:14px; text-decoration:underline; text-underline-position:under;}
a.blank:after{content:""; display:inline-block; width:12px; height:12px; background:url(../../../images/site/skin/win.gif) no-repeat left top; margin-left:5px; vertical-align:middle;}
a.blank:link,
a.blank:visited,
a.blank:active{color:#404040;}
a.blank:hover{text-decoration:underline; color:#404040;}
	

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Font & Color
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.red{color:#ff0000 !important;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Tab
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.js_tab{margin-bottom:30px; padding:0;}
.js_tab.select .title a:active,
.js_tab.select .title a:link,
.js_tab.select .title a:visited{text-decoration:none;}
.js_tab .title{display:none;}
.js_tab ul{overflow:hidden; width:100%;}
.js_tab ul li{float:left; width:auto; margin-right:5px; padding-bottom:5px; box-sizing:border-box;}
.js_tab ul li:last-child{border-right:0px;}
.js_tab ul li a{
	position:relative; z-index:1; display:block; width:auto; height:45px; line-height:45px; padding:0 15px; border:1px solid #e5e5e5; font-size:16px; box-sizing:border-box;
	transition:all 0.2s ease; -webkit-transition:all 0.2s ease;
}
.js_tab ul li a:hover,
.js_tab ul li.on a{background-color:#1e5490; border:1px solid #1e5490; color:#fff;}
.js_tab ul li a:link,
.js_tab ul li a:visited
.js_tab ul li a:active,
.js_tab ul li a:hover,
.js_tab ul li.on a{text-decoration:none;}

.js_tab.select{overflow:hidden;}
.js_tab.select .title{display:block; border:none; background-color:#1e5490; background-image:url(../../../images/site/skin/icon_tab.gif); background-repeat:no-repeat; background-position:center right 15px;}
.js_tab.select .title a{display:block; height:42px; line-height:44px; padding:0px 35px 0px 15px; font-size:15px; font-weight:400; color:#fff;}
.js_tab.select ul{display:none;}
.js_tab.select ul li{float:none; margin-right:0; padding-bottom:0;}
.js_tab.select ul li a{width:100%; height:36px; line-height:36px; background-color:#fff; border-top:0; border-color:#ccc; font-size:14px;}

.js_tab.select ul li a:hover,
.js_tab.select ul li.on a{background-color:#eeeeee; color:#636363;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Button
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
a.btn{
	display:inline-block; min-width:83px; height:35px; line-height:35px; padding:0 10px; font-size:14px; text-align:center;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn,
a.btn:link,
a.btn:visited,
a.btn:active{background:#0b5fa6; border:1px solid #0b5fa6; color:#fff;}
a.btn:hover{background:#fff; border:1px solid #0b5fa6; color:#0b5fa6; text-decoration:none;}

/* btn color */
a.btn.bg_01:link,
a.btn.bg_01:visited,
a.btn.bg_01:active{background:#32383e; border:1px solid #32383e;}
a.btn.bg_01:link:hover,
a.btn.bg_01:visited:hover,
a.btn.bg_01:active:hover{background:#fff; border:1px solid #32383e; color:#32383e;}
a.btn.bg_02:link,
a.btn.bg_02:visited,
a.btn.bg_02:active{background:#4f5f79; border:1px solid #4f5f79;}
a.btn.bg_02:link:hover,
a.btn.bg_02:visited:hover,
a.btn.bg_02:active:hover{background:#fff; border:1px solid #4f5f79; color:#4f5f79;}
/* btn down */
a.btn.down{padding:0 12px;}
a.btn.down:after{
	content:""; display: inline-block; width:9px; height:13px; margin-left:6px; margin-top:-4px; background-image: url(../../../images/site/skin/icon_down.gif); background-repeat:no-repeat; background-size:100%; vertical-align:middle;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn.down:hover:after{background-image:url(../../../images/site/skin/icon_down_ov.gif);}
a.btn.down.bg_01:hover:after{background-image:url(../../../images/site/skin/icon_down_ov_2.gif);}
a.btn.down.bg_02:hover:after{background-image:url(../../../images/site/skin/icon_down_ov_3.gif);}
/* btn arrow */
a.btn.arrow{padding:0 12px;}
a.btn.arrow:after{
	content:""; display: inline-block; width:5px; height:9px; margin-top:-2.5px; margin-left:8px; background-image: url(../../../images/site/skin/icon_arrow.gif); background-repeat:no-repeat; vertical-align:middle;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn.arrow:hover:after{background-image: url(../../../images/site/skin/icon_arrow_ov.gif);}
a.btn.arrow.bg_01:hover:after{background-image: url(../../../images/site/skin/icon_arrow_ov_2.gif);}
a.btn.arrow.bg_02:hover:after{background-image: url(../../../images/site/skin/icon_arrow_ov_3.gif);}
/* btn link */
a.btn.link{padding:0 12px;}
a.btn.link:after{
	content:""; display: inline-block; width:11px; height:11px; margin-top:-2px; margin-left:5px; background-image: url(../../../images/site/skin/icon_link.gif); background-repeat:no-repeat; vertical-align:middle;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn.link:hover:after{background-image: url(../../../images/site/skin/icon_link_ov.gif);}
a.btn.link.bg_01:hover:after{background-image: url(../../../images/site/skin/icon_link_ov_2.gif);}
a.btn.link.bg_02:hover:after{background-image: url(../../../images/site/skin/icon_link_ov_3.gif);}
/* btn small */
a.btn.small{min-width:65px; height:25px; line-height:25px; font-size:13px;}
/* btn small fileview */
a.btn.small.fileview:before{content:""; display: inline-block; width:8px; height:10px; margin-right:4px; background-image:url(../../../images/site/skin/icon_fileview.gif); background-repeat:no-repeat;}
a.btn.small.fileview:hover:before{
	content:""; display: inline-block; width:8px; height:10px; background-image:url(../../../images/site/skin/icon_fileview_ov.gif);
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn.small.fileview.bg_01:hover:before{background-image:url(../../../images/site/skin/icon_fileview_ov_2.gif);}
a.btn.small.fileview.bg_02:hover:before{background-image:url(../../../images/site/skin/icon_fileview_ov_3.gif);}

@media screen and (max-width:640px){
	a.btn{min-width:76px; height:30px; line-height:30px;}
	a.btn.arrow:after{margin-left:5px;/*  margin-top:-2.4px; */}
	a.btn.small{min-width:56px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Animate
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.ani{transition : all 0.5s ease; -webkit-transition : all 0.5s ease;}
 

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Mobile_check Tag
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.js_mobile_check{display:none;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	tip
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.tip{
	position:relative; padding-left:28px; font-size:14px; color:#5f5f5f;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
.tip:after{
	content:"!"; position:absolute; top:0px; left:0; display:inline-block; width:22px; height:22px; line-height:22px; background:#cfd7e2; text-align:center; font-weight:800; font-size:13px;
	border-radius:50%; -webkit-border-radius:50%;
}

@media screen and (max-width:640px){
	.tip{line-height:16px; padding-left:25px; font-size:13px;}
	.tip:after{width:19px; height:19px; line-height:19px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	error
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#system_error{margin:10% 0; text-align:center;}
#system_error img{max-width:100%;}

@media screen and (max-width:640px){
	#system_error p{line-height:17px; font-size:14px;}	
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	js_slide Tag
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.js_slide{position:relative; width:100%; height:80px; padding:10px 10px 10px 130px; box-sizing:border-box;}
.js_slide .title{display:block; position:absolute; left:0; top:12px; z-index:1; width:120px; font-size:18px; text-align:center;}
.js_slide .control{position:absolute; left:0; right:auto; top:auto; bottom:0px; z-index:1; width:120px; padding:0; text-align:center;}
.js_slide .control .count{display:none;}
.js_slide .control a[class*="btn_"]{overflow:hidden; display:inline-block; width:31px; height:31px; text-indent:-1000px; border:1px solid #c5c5c5; background:#fff url(../../../images/site/skin/slider_control.png) no-repeat;}
.js_slide .control a.btn_left{background-position:0 0;}
.js_slide .control a.btn_play{display:none; background-position:0 -93px;}
.js_slide .control a.btn_stop{background-position:0 -62px;}
.js_slide .control a.btn_right{background-position:0 -31px;}
.js_slide .control ul{display:none;}
.js_slide .move{overflow:hidden; position:relative; z-index:0; width:100%; height:100%;}
.js_slide .move ul{overflow:hidden; position:absolute; left:0; top:0; width:200000px; height:100%;}
.js_slide .move ul li{float:left; width:170px; height:100%; padding:0px 5px;}
.js_slide .move ul li a{overflow:hidden; display:block; position:relative; height:100%; text-align:center; border:1px solid #c5c5c5; background-color:#eee; box-sizing:border-box;
transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.js_slide .move ul li a:hover,
.js_slide .move ul li a:focus{border:1px solid #ff6600;}
.js_slide .move ul li a span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.js_slide .move ul li img{display:block; margin:0 auto; height:100%;}

.js_slide.type_02{width:400px; height:250px; padding:0;}
.js_slide.type_02 .title{left:10px;}
.js_slide.type_02 .control{left:auto; right:10px; top:5px; width:100%; height:31px; background:#fff;}
.js_slide.type_02 .control .count{display:inline-block; letter-spacing:2px; vertical-align:middle;}
.js_slide.type_02 .control .count span{font-weight:700;}
.js_slide.type_02 .control a[class*="btn_"]{border:none; vertical-align:middle;}
.js_slide.type_02 .move{position:absolute; left:0; top:0; height:100%;}
.js_slide.type_02 .move ul{width:100%;}
.js_slide.type_02 .move ul li{float:none; position:absolute; left:100%; top:0; width:100%; padding:0;}
.js_slide.type_02 .move ul li:first-child{left:0;}
.js_slide.type_02 .move ul li a{overflow:hidden;}
.js_slide.type_02 .move ul li a:hover{border:none;}
.js_slide.type_02 .move ul li a:focus{border:1px solid #ff6600;}

.js_slide.type_03{width:100%; height:500px; padding:0;}
.js_slide.type_03 .title{
	left:10%; top:20%; width:auto; font-size:40px; text-align:left; color:#fff;
	text-shadow:1px 1px 2px #000;
	-moz-text-shadow:1px 1px 2px #000;
    -webkit-text-shadow:1px 1px 2px #000;
    -ms-text-shadow:1px 1px 2px #000;
    -khtml-text-shadow:1px 1px 2px #000;
    -o-text-shadow:1px 1px 2px #000;
}
.js_slide.type_03 .title span{display:block; line-height:22px; margin-top:10px; font-weight:400; font-size:16px;}
.js_slide.type_03 .control{left:0; bottom:auto; top:0; width:100%; height:100%;}
.js_slide.type_03 .control a[class*="btn_"]{position:absolute;}
.js_slide.type_03 .control a.btn_left,
.js_slide.type_03 .control a.btn_right{z-index:9; width:100px; height:100%; border:none; background:none !important;}
.js_slide.type_03 .control a.btn_play,
.js_slide.type_03 .control a.btn_stop{right:20px; bottom:20px; z-index:10; background:#fff url(../../../images/site/skin/slider_control.png) no-repeat;}
.js_slide.type_03 .control a.btn_left{left:0; top:0;}
.js_slide.type_03 .control a.btn_right{right:0; top:0;}
.js_slide.type_03 .control a.btn_left span,
.js_slide.type_03 .control a.btn_right span{display:block; position:absolute; left:0; top:50%; width:100px; height:100px; margin-top:-50px;}
.js_slide.type_03 .control a.btn_play span,
.js_slide.type_03 .control a.btn_stop span{display:block; width:100%; height:100%;}
.js_slide.type_03 .control a.btn_left span{background:url(../../../images/site/skin/btn_icon_08.png) no-repeat center 0px;}
.js_slide.type_03 .control a.btn_play{background-position:0 -93px;}
.js_slide.type_03 .control a.btn_stop{display:none; background-position:0 -62px;}
.js_slide.type_03 .control a.btn_right span{background:url(../../../images/site/skin/btn_icon_09.png) no-repeat center 0px;}
.js_slide.type_03 .control ul{display:block; position:absolute; left:0; bottom:20px; z-index:9; width:100%; text-align:left;}
.js_slide.type_03 .control ul li{display:inline-block; margin-right:4px;}
.js_slide.type_03 .control ul li:first-child{margin-left:20px;}
.js_slide.type_03 .control ul li a{
	overflow:hidden; display:block; width:20px; height:20px; text-indent:-10000px; background-color:#c5c5c5;
	border-radius:10px;
    -webkit-border-radius:10px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	
}
.js_slide.type_03 .control ul li a.on{width:50px;}
.js_slide.type_03 .move{position:absolute; left:0; top:0; height:100%;}
.js_slide.type_03 .move ul{width:100%;}
.js_slide.type_03 .move ul li{float:none; position:absolute; left:100%; top:0; width:100%; padding:0;}
.js_slide.type_03 .move ul li:first-child{left:0;}
.js_slide.type_03 .move ul li a{overflow:hidden; cursor:default;}
.js_slide.type_03 .move ul li a:hover,
.js_slide.type_03 .move ul li a:focus{border:none;}

@media screen and (max-width: 800px){
	.js_slide.type_03{height:500px;}
}
@media screen and (max-width: 600px){
	.js_slide.type_03{height:300px;}
	.js_slide.type_03 .title{left:0; top:15%; width:100%; padding:0px 10px; font-size:23px; text-align:center; box-sizing:border-box;}
	.js_slide.type_03 .title span{font-size:12px;}
	.js_slide.type_03 .control a.btn_left,
	.js_slide.type_03 .control a.btn_right{display:none;}
}

div[class*="slide_view_"]{position:relative; width:70%; height:auto; padding:0px 0px 36px 0px; margin:0 auto 10px; text-align:center; background-color:#eee;}
div[class*="slide_view_"] span{position:absolute; left:0; bottom:0; width:100%; height:36px; padding:0 15px; line-height:36px; font-size:15px; text-align:center; color:#505050; background-color:#fff; box-sizing:border-box;}
div[class*="slide_view_"] span strong{display:inline-block; font-weight:700; font-size:15px;}
div[class*="slide_view_"] img{display:block; max-width:100%; margin:0 auto;}
div[class*="slide_view_"].notitle{padding-bottom:0;}
div[class*="slide_view_"].notitle span{display:none;}
.js_slide.type_04{height:80px; padding:0px 50px;}
.js_slide.type_04 .title{display:none;}
.js_slide.type_04 .control{bottom:0; z-index:0; width:100%; height:100%;}
.js_slide.type_04 .control a.btn_play,
.js_slide.type_04 .control a.btn_stop{display:none;}
.js_slide.type_04 .control a.btn_left,
.js_slide.type_04 .control a.btn_right{display:block; position:absolute; top:0; width:40px; height:100%; border:none; background:none;}
.js_slide.type_04 .control a.btn_left{left:0;}
.js_slide.type_04 .control a.btn_right{right:0;}
.js_slide.type_04 .control a.btn_left span,
.js_slide.type_04 .control a.btn_right span{
	display:block; position:absolute; left:0; top:0; width:100%; height:100%; background-size:auto 50% !important;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
.js_slide.type_04 .control a.btn_left span{background:url(../../../images/site/skin/photo_slide_left.gif) no-repeat center center;}
.js_slide.type_04 .control a.btn_right span{background:url(../../../images/site/skin/photo_slide_right.gif) no-repeat center center;}
.js_slide.type_04 .control a.btn_left:hover span{background:#b6b6b6 url(../../../images/site/skin/photo_slide_left_on.gif) no-repeat center center;}
.js_slide.type_04 .control a.btn_right:hover span{background:#b6b6b6 url(../../../images/site/skin/photo_slide_right_on.gif) no-repeat center center;}
.js_slide.type_04 .move ul li a:hover,
.js_slide.type_04 .move ul li a:focus,
.js_slide.type_04 .move ul li a.on:link,
.js_slide.type_04 .move ul li a.on:visited,
.js_slide.type_04 .move ul li a.on:active,
.js_slide.type_04 .move ul li a.on:hover{border:2px solid #ff6600;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Padding

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.pt_00{padding-top:0px !important;}
.pt_05{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pr_00{padding-right:0px !important;}
.pr_05{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pb_00{padding-bottom:0px !important;}
.pb_05{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pl_00{padding-left:0px !important;}
.pl_05{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Margin

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.mt_00{margin-top:0px !important;}
.mt_05{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mr_00{margin-right:0px !important;}
.mr_05{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.mb_00{margin-bottom:0px !important;}
.mb_05{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.ml_00{margin-left:0 !important;}
.ml_05{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_17{margin-left:17px !important;}
.ml_18{margin-left:18px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}